

<mz-parallax [height]="600">
    <img src="https://scontent.fsdv1-1.fna.fbcdn.net/v/t31.0-8/12885979_1145452732133072_3561866126069233883_o.jpg?_nc_cat=0&oh=b10aa9afe4e37489e1fc291e156b3c82&oe=5C377DDD">
  </mz-parallax>

<section id="about">

  <h3 class="blue myFont">About me</h3>

  <blockquote class="default">

    <h1><span class="Cdefault">Passionate</span> Full Stack Developer</h1>  
    <p>I love working with code and people</p>

  </blockquote>
  <br><br>
  At the moment I am working as a VIP Support Engineer at LivePerson acting as a Support Engineer and a Technical Account Manager for our top accounts improving the client's trust in the brand and the software while working with our Product and R&D Teams.

  In addition I act as the group's Dev Support and as LivePerson's account administrator for Support & Marketing implementations.
  
  In my previous roles I have also followed my passion for connecting with the customer and understanding their needs as a Freelance Web Designer as well as Project Manager & IT Support at Union Bank of Israel.
  
  I would describe myself as a fast learner who has a very strong touch of consuming information and conveying it in a way anyone would easily understand.




      <section id="about">
          <h3 class="blue myFont">About me</h3>

  <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
    <ul>


     