<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar class="myName">
      Gan 
      <br><br>Melamoud


    </mat-toolbar>
    <mat-nav-list>
 
      <a class="element" mat-list-item routerLink=""><mat-icon >home</mat-icon>Home</a>
      <br>
      <a mat-list-item routerLink="/admin"><mat-icon >fitness_center</mat-icon><span>Skills</span></a>

  <!-- <a mat-list-item routerLink="/admin">Admin Dashboard</a> -->
      <!-- <a mat-list-item routerLink="/staff">Staff Dashboard</a>  -->
     
      <a mat-list-item routerLink="/test">test Dashboard</a> 


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content id="sidenavcon">
      

      <p><button  [style.display]="(isHandset$ | async) ? 'block' : 'none' "

        mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </p>


    <!-- Content Section Start-->
    <main [@fadeAnimation]="getRouterOutletState(o)">

        <router-outlet #o="outlet"></router-outlet>
      </main>
    <!-- Content Section End-->
  </mat-sidenav-content>
</mat-sidenav-container>
