#sidenavcon{
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/funky-lines.png') repeat;
  
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.myName{
  color:grey;
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: 5;
  font-size: 1.6rem;
  padding-top: 80px;
  padding-bottom: 80px;
  letter-spacing: 0.3rem
  /* padding-left: 37%; */

  
}

.titled{
  color:grey;
  position: absolute;
  font-family: 'Roboto Slab', serif;
  font-size: 0.30rem;
}

/* .letter:hover{

} */

.mat-list-item {
  transition: background-color 0.5s ease;
  color: #c9c9c9;
  font-family: 'Francois One', 'sans serif';
  letter-spacing: 0.2rem;

}
/* .element:hover {
  color: rgb(183, 184, 169);
} */

.mat-list-item:hover{
  background-color: rgba(94, 94, 94, 0.884);

}

.mat-icon{
  margin-right: 3rem;
}

.mat-drawer{
  background-color:#21201f

}

.mat-toolbar{
  background-color:#272524

}